/* .header_text {
    font-size: 40px;
    left: 20px;
    top: 100px;
}

.photo_section_text {
    font-size: 18px;
    width: 250px;
    left: 20px;
    top: 200px;
}

header button {
    left: 20px;
    top: 400px;
    width: 240px;
}

.left-button {
    width: 200px;
    font-size: 18px;
}

.photo_museum_2 {
    margin-top: 45rem;
    width: 100%;
    margin-left: 0;
}

.text_f {
    font-size: 30px;
    margin-left: -200px;
}

.per_f {
    font-size: 14px;
    margin-left: -200px;
}

.photo_museum_3 {
    width: 100%;
    margin-left: 0;
}

.section_2 {
    margin-top: -300px;
}

.photo_museum_4 {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
}

.black_section_3 {
    width: 100%;
}

.text_4 {
    font-size: 28px;
}

.per_4 {
    font-size: 16px;
}

.section_3 {
    margin-top: 1500px;
    margin-left: 0;
}

.black_section_4 {
    width: 100%;
    margin-left: 0;
}

.text_5 {
    font-size: 20px;
}

.per_5 {
    font-size: 14px;
    width: 100%;
} */