@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    margin-bottom: 200px;
    max-width: 1475px;
}

.black_section {
    background: #151515;
    background-size: cover;
    width: 70rem;
    height: 850px;
}


.photo_section img {
    background-size: cover;
    width: 574px;
}


.header_text {
    mix-blend-mode: exclusion;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 76px;
    line-height: 88px;
    color: #FFFFFF;
    position: absolute;
    left: 253px;
    top: 175px;
}

.photo_section_text {
    font-weight: 300;
    width: 350px;
    font-family: 'Roboto';
    color: #444444;
    font-size: 23px;
    line-height: 36px;
    position: absolute;
    left: 1000px;
    top: 180px;
}


header button {
    background: none;
    border: none;
    position: absolute;
    display: flex;
    width: 300px;
    height: 72px;
    padding: 0;
    margin: 0;
    left: 1000px;
    top: 410px;
}

.left-button {
    width: 230px;
    height: 72px;
    color: #FFFFFF;
    background: #151515;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.right-button {
    background: #D5966C;
    width: 70px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    color: #FFFFFF;
}


header button:hover .left-button {
    background: #D5966C;
}

header button:hover .right-button {
    background: #151515;
}
.museum_block{
display: block;
}

.photo_museum_2{
    margin-top: 63rem;
    width: 140%;
    margin-left: -18rem;
}

.text_f{
    /* margin-left: -800px;
    margin-top: -320px; */
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-weight: 150px;  */
}

.div_f{
    margin-left: -800px;
    margin-top: -320px;
}
.per_f{
   font-size: 18px;
   font-family: 'Courier New', Courier, monospace;
} 

.museum_block_2 {
    margin-top: 1390px;
    display: block;
}
.photo_museum_3{
    width: 650px;
    margin-left: -1235px;
    margin-top: 20px;
}

.photo_museum_4{
    width: 250px;
}

.black_section_2{
   margin-top: 50px;
}






.section_2{
    margin-top: -475px;
}

.photo_museum_4{
    width: 450px;
    margin-left: -555px;
    margin-top: -267px;  
}
.black_section_3{
    background-color: black;
    width: 450px;
    height: 400px;
    margin-left: -555px;
    margin-top: 18px;
}
.text_4{
    margin-top: -330px;
    margin-left: -490px;
    color: white;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400px;
}
.per_4{
    margin-left: -490px;
    color: white;
    width: 290px;
    font-size: 19px;
    font-weight: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}






.section_3{
    margin-top: 2300px;
    margin-left: -700px;
    display: inline;
}
.black_section_4{
    background-color: black;
    width: 1400px;
    height: 250px;
    margin-left: -550px;
}
.text_5{
    margin-top: -160px;
    margin-left: -280px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
.per_5{
    color: white;
    margin-top: -65px;
    width: 420px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 5px;
}