/* .header_text {
    font-size: 60px;
    left: 100px;
    top: 120px;
}

.photo_section_text {
    font-size: 20px;
    width: 280px;
    left: 800px;
    top: 220px;
}

header button {
    left: 800px;
    top: 400px;
}

.photo_museum_2 {
    width: 120%;
    margin-left: -50px;
}

.text_f {
    font-size: 50px;
    margin-left: -400px;
}

.per_f {
    font-size: 16px;
}

.photo_museum_3 {
    width: 100%;
    margin-left: 0;
}

.photo_museum_4 {
    width: 300px;
}

.section_2 {
    margin-top: -350px;
}

.text_4 {
    font-size: 35px;
}

.per_4 {
    font-size: 18px;
} */