* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header {
    background-image: url('./images/header.jpg'); 
    background-size: cover; 
    background-position: center; 
    height: 400px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 250px;
    /* padding: -10px; */
    margin-bottom: 45px;
}

.h1{
    margin-right: -5px;
    color: white;
}

.content{
    margin-right: 500px;
    padding-left: 115px;
    /* margin: 20px 0px; */
}

.data{
    margin-left: -30px;
}

button{
    border-style: groove;
    border-width: small;
    border-color: red;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    /* text-decoration-color: red; */
    margin: 15px 0px;
    color: red;
     font-size: 14px;
}

h1{
    padding: 15px 0px;
}
/* bottom:hover text{
    color: red;
} */


/* ########################################################### */

aside{
    margin-left: 1045px;
    margin-top: -1315px;
}
aside img{
    flex: 1 1 200px;
    max-width: 350px;
    /* text-align: auto; */
    padding-top: 30px;
}

aside p{
    /* padding-right: -20px; */
    /* margin-left: 30px; */
    /* padding-top: 30px; */
    /* width: 30px; */
    margin-right: 100px;
}
