* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header { 
    background-image: url("images/apples.jpg"); 
    background-size: cover; 
    background-position: center; 
    height: 930px; 
} 
 
.head h3 { 
    color: #ffffff; 
    font-weight: 500; 
} 
 
.head h3:hover { 
    color: #ffffff; 
    font-weight: 600; 
} 
 
.head { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding-top: 30px; 
    padding-left: 30px; 
    padding-right: 30px; 
} 
 
.nav_1>ul { 
    display: flex; 
    align-items: normal; 
    justify-content: left; 
 
} 
 
.nav_1 li { 
    padding: 4px 30px; 
    list-style-type: none; 
} 
 
.nav_1 li a { 
    color: #ffffff; 
    text-decoration: none; 
    font-size: 18px; 
    font-weight: 500; 
} 
 
.nav_1 li a:hover { 
    color: #ffffff; 
    text-decoration: none; 
    font-size: 18px; 
    font-weight: 600; 
} 
 
.sec_1 { 
    height: 100%; 
 
} 
 
.sec_1 h1 { 
    justify-content: center; 
    align-items: center; 
    vertical-align: middle; 
    color: #ffffff; 
    font-size: 60px; 
    font-weight: 400; 
} 
 
.main_text { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    flex-direction: column; 
} 
 
.main_text h3 { 
    color: #ffffff; 
    padding-top: 5px; 
 
} 
 
.Strong_1 { 
    font-size: 85px; 
    font-weight: 500; 
    padding: 0px 15px; 
} 
 
.Button_1 { 
    padding: 20px 80px; 
    background-color: rgba(0, 0, 0, 0.5); 
    border: 2.5px solid white; 
    font-weight: 500; 
    color: white; 
    cursor: pointer; 
    margin-top: 300px; 
} 
 
.Button_1:hover { 
    padding: 20px 80px; 
    background-color: rgba(0, 0, 0, 0.7); 
    border: 2.5px solid white; 
    font-weight: 500; 
    color: white; 
    cursor: pointer; 
} 
 
.Text_sec2 { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    padding: 0px 50px; 
} 
 
.sec_2_5 { 
    height: 500px; 
} 
 
.blok p { 
    font-size: 23px; 
    width: 550px; 
    padding-right: 100px; 
} 
 
.blok_2 p { 
    font-size: 12px; 
    width: 650x; 
} 
 
.Button_2 { 
    padding: 10px 10px; 
    background-color: rgba(0, 0, 0, 0.5); 
    border: 2px solid white; 
    font-weight: 500; 
    color: white; 
    cursor: pointer; 
    margin-top: 25px; 
    margin-right: 25px; 
 
} 
 
.Back_img { 
    background-image: url("images/sample.jpg"); 
    background-size: cover; 
    background-position: center; 
    width: 1540px; 
    height: 400px; 
    margin-left: 50px; 
} 
 
.Back_img p { 
    color: #ffffff; 
    display: flex; 
    justify-content: start; 
    align-items: end; 
    padding-top: 290px; 
    padding-left: 5px; 
} 
 
.Cont_Butt_2 { 
    display: flex; 
    justify-content: end; 
} 
 
.Goup_1 { 
    display: flex; 
    justify-content: left; 
    align-items: normal; 
    padding-top: 20px; 
} 
 
.Goup_1 p { 
    padding-left: 30px; 
    display: flex; 
    justify-items: center; 
    align-items: center; 
    margin-right: 50px; 
    width: 800px; 
    font-size: 18px; 
    text-align: center; 
} 
 
 
.Back_img2 { 
    background-image: url("images/sample3.jpg"); 
    background-size: cover; 
    background-position: center; 
    width: 1540px; 
    height: 400px; 
    margin-right: 50px; 
} 
 
.Back_img2 p { 
    color: #ffffff; 
    display: flex; 
    justify-content: start; 
    align-items: end; 
    padding-top: 295px; 
    padding-right: 15px; 
} 
 
.Cont_Butt_2 { 
    display: flex; 
    justify-content: end; 
} 
 
.Goup_2 { 
    display: flex; 
    justify-content: left; 
    align-items: normal; 
    padding-top: 20px; 
} 
 
.Goup_2 p { 
    padding-left: 50px; 
    display: flex; 
    justify-items: center; 
    align-items: center; 
    margin-right: 50px; 
    width: 800px; 
    font-size:18px; 
    text-align: center; 
} 
 
.headline { 
    font-size: 15px; 
    font-weight: 500; 
    text-align: center; 
    padding-top: 220px; 
    padding-bottom: 120px; 
    font-weight: 400;
} 
.headline h1{
    font-weight: normal;
}
 
.sec_2 { 
    background-color: #f0f0f0; 
} 

.Select_1 { 
    width: 300px; 
    height: 60px; 
} 
 
 
.nav_2>ul { 
    display: flex; 
    align-items: normal; 
    justify-content: left; 
 
} 
 
.nav_2 li { 
    padding: 0px 25px; 
    list-style-type: none; 
} 
 
.nav_2 li a { 
    color: #1b1b1b; 
    text-decoration: none; 
    font-size: 18px; 
    font-weight: 500; 
    cursor: pointer; 
} 
 
.nav_2 li a:hover { 
    color: #1b1b1b; 
    text-decoration: none; 
    font-size: 18px; 
    font-weight: 600; 
} 
 
.footer_1 h3 { 
    font-size: 18; 
    color: #cecdcd; 
    font-weight: 500; 
    cursor: pointer; 
} 
 
.footer_1 { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 15px 35px; 
} 
 
hr { 
    margin: 0px 40px; 
    border: 2px solid #dbdbdb; 
} 
 
label { 
    color: #ffffff; 
    background-color: #1b1b1b; 
    padding: 20px; 
 
} 
 
input { 
    color: #1b1b1b; 
    width: 940px; 
    height: 55px; 
 
} 
 
form { 
    border: 2px solid #1b1b1b; 
 
} 
 
.form_1 { 
    display: flex; 
    justify-content: left; 
    align-items: normal; 
} 
 
.form_full { 
    display: flex; 
    justify-content: left; 
    align-items: center; 
    margin: 50px; 
    background-color: #ffffff; 
} 
 
.form_full h1 { 
    padding-right: 20px; 
}