* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: #0a1223;
}

.nav_1{
    padding-top: 15px;
    padding-right: 230px;
}

.header{
    margin: 0;
    color: white;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    font-size: 35px;
}

.header h1{
margin-left: 5px;
}


.bottom_1 li{
    list-style-type: none; 
    padding: 0px 15px;
}

.bottom_1 a{
    text-decoration: none; 
    color: aqua;
    background: linear-gradient(to right, #A0A0C0 0%, #808080 100%, #606060 100%); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}
.bottom_1 ul{
    display: flex; 
    align-items: normal; 
    justify-content: right;
}


/* ############################################# */


.nav_2{
    width: 500px;
    height: 300px;
    color: white;
    margin-left: 140px;
}
.nav_2 p{
    text-align: justify;
    color: #5d5d5d;
}

.nav_2 h3{
    font-size: 30px;
    background: linear-gradient(to right, #fff 0%, #0a1223 100%); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.text_4{
    margin-top: 150px;
}

/* ############################################# */

.nav_3{
    width: 500px;
    height: 300px;
    color: white;
    margin-left: 140px;
    margin-top: 190px;
}
.nav_3 p{
    text-align: justify;
    color: #5d5d5d;
}

.nav_3 h4{
    font-size: 30px;
    background: linear-gradient(to right, #fff 0%, #0a1223 100%); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
} 

/* ############################################# */

.image_1{

    width: 450px; 
    height: auto; 
    margin-left: 25px;
    margin-top: 31px;
}

.image_3{
    width: 450px;
    height: auto;
    margin-left: 25px;
    margin-top: 24px;
} 