* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    padding: 0 15px;
}

.nav_1{
    padding-top: 15px;
    
}
.header{
    margin: 0;
    color: black;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    font-size: 35px;
}
 
.bottom_1 li{
    list-style-type: none; 
    padding: 0px 15px;
}

.bottom_1 a{
    text-decoration: none; 
    color: aqua;
    background: linear-gradient(to right, #A0A0C0 0%, #808080 100%, #606060 100%); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}
.bottom_1 ul{
    display: flex; 
    align-items: normal; 
    justify-content: right;
    border-bottom: 1px solid #ccc;
}


/* ############################################# */

.nav_2{
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.nav_2 p{
    text-align: justify;
    color: #5d5d5d;
}
h1{
    font-size: 1.2em;
}

.nav_2 h3{
    font-size: 30px;
    background: linear-gradient(to right, #0a1223 100%, #fff 0%); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}

.text_4{
    margin-top: 50px;
}


/* ############################################# */

.nav_3{
    width: 100%;
    color: white;
    margin-top: 50px; 
    display: flex;
    align-items: center;
    flex-direction: column;

}
.nav_3 p{
    text-align: justify;
    color: #5d5d5d;
}

.nav_3 h4{
    font-size: 30px;
    background: linear-gradient(to right, #0a1223 100%, #fff 0%); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
} 


/* ############################################# */

.image_1{
    width: 320px; 
    height: auto; 
    margin-top: 31px;

}

.image_3{
    width: 320px;
    height: auto;
    margin-top: 24px;

} 